# Rekordbox
REKORDBOX_FOLDER_PATH="/path/to/rekordbox/"
REKORDBOX_MASTERDB_PATH="/path/to/rekordbox/master.db"
REKORDBOX_MASTERDB_PASSWORD="402fd482c38817c35ffa8ffb8c7d93143b749e7d315df7a81732a1ff43608497"
REKORDBOX_COPY_DB_BEFORE_SYNC=true
REKORDBOX_PLAYLISTS_TO_IGNORE="Some Playlist"

# Plex
PLEX_URL="http://localhost:32400"
PLEX_TOKEN=""
PLEX_LIBRARY_NAME="Music"
PLEX_PLAYLIST_FLATTENING_DELIMITER="/"

# Orphan handling
DELETE_ORPHANED_PLAYLISTS=true

# Folder mappings
#FOLDER_MAPPINGS_PATH="/path/to/folderMappings.json"
